// CARRUSEL

.carrusel-conteiner {
    @include flex(row, center ,center );
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 2px;

    .carousel  {
        width: 70%;
        @include flex(row, center ,center );
        border: 5px solid rgb(43, 43, 85);
        border-radius: 5px;
        .carousel-indicators {
            @include flex(row, center ,center );
            
        }
    }

}