.formulario-contenedor {
    width:100% ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .contact-form{	
        display: flex;
        display:grid;
        width: 528px; 
        height: auto;
        margin: 200px auto;
        border-radius: 30px;  
        padding-top: 10px;
        padding-bottom: 20px;  
        background-color: map-get($colors, blanco ); 
        padding-left: 60px; 
    

        .formulario {
            width: auto;
            height:auto;
            display: flex;
            display: grid;
            
            h3{
                font-size: 25px; 
                padding-bottom: 30px;
                color: #19171f;   
            }
    
            p{
                font-size: 14px; 
                color: #0e0e0e; 
            }
            input{
                background-color:map-get($colors, blanco ); 
                width: 408px; 
                height: 40px; 
                border-radius: 5px;  
                border-style: solid; 
                border-width: 3px; 
                border-color: map-get($colors, celeste ); 
                margin-top: 10px;  
                padding-left: 10px;
                margin-bottom: 20px; 
            }
            
            
            textarea{
                display: flex;
                background-color: map-get($colors, blanco ); 
                width: 405px; 
                height: 150px; 
                border-radius: 5px;  
                border-style: solid; 
                border-width: 2px; 
                border-color: map-get($colors,azul-claro); 
                margin-top: 10px;  
                padding-left: 10px;
                margin-bottom: 20px; 
                padding-top: 15px; 
            }
            
            
            label{
                display: flex;
                display: block; 
                float: center; 	
            }
            
            
            button{
                display: inline-block;
                height: 45px; 
                width: 150px;
                padding-left: 5px;
                padding-right: 5px; 	
                margin-bottom: 20px; 
                margin-top: 10px; 	
                text-transform: uppercase;
                background-color: map-get($colors ,azul-fuerte ); 
                border-color: map-get($colors, azul ); 
                border-style: solid; 
                border-radius: 10px;	
                p{
                    color: map-get($colors, blanco ); 
                }  
                
            }
            
            span{
                display: flex;
                color: map-get($colors, azul-claro ); 
            }
            
            
            .aviso{
                display: flex;
                font-size: 13px;  
                color: #0e0e0e;  
            }
            
            
            h1{
                display: flex;
                font-size: 40px;  
                text-align: letf;  
                color: map-get($colors, dorado );
            }
            
            ::-webkit-input-placeholder {
             color: #a8a8a8;
            }
            
            
            ::-webkit-textarea-placeholder {
             color: #a8a8a8;
            }
            
            
            .formulario input:focus{
                outline:0;
                border: 2px solid #020318;
            }
            
            
            .formulario textarea:focus{
                outline:0;
                border: 2px solid #141f07;
            }
            
        }
    }
   
}