// MAPS
$font-sizes: (
    s: 14px,
    m: 18px,
    l: 24px,
    xl: 32px,
);

$colors: (
    azul-clasico: rgb(20, 76, 141),
    azul-fuerte: #3331d3,
    azul-claro: #4446ab ,
    mostaza: rgb(133, 96, 5),
    dorado: goldenrod,
    celeste: cadetblue,
    celeste-claro: rgb(42, 151, 179),
    blanco: rgb(250, 250, 250),
);